<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>587928690893-itqtavsm65l93oma0ami610hv6m5qkqn.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.587928690893-itqtavsm65l93oma0ami610hv6m5qkqn</string>
	<key>API_KEY</key>
	<string>AIzaSyCKNIkRK-qkKiVcgZz-b_RaujJ6rDAx2dY</string>
	<key>GCM_SENDER_ID</key>
	<string>587928690893</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>beesportive.BeeSportive</string>
	<key>PROJECT_ID</key>
	<string>beesportive-cbd41</string>
	<key>STORAGE_BUCKET</key>
	<string>beesportive-cbd41.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:587928690893:ios:ce684361258e9f29</string>
	<key>DATABASE_URL</key>
	<string>https://beesportive-cbd41.firebaseio.com</string>
    
    <key>CFBundleURLTypes</key>
    <array>
        <dict>
            <key>CFBundleURLSchemes</key>
            <array>
                <string>fb1224718747570310</string>
            </array>
        </dict>
    </array>
    <key>FacebookAppID</key>
    <string>1224718747570310</string>
    <key>FacebookDisplayName</key>
    <string>BeeSportive</string>
    <key>LSApplicationQueriesSchemes</key>
    <array>
        <string>fbapi</string>
        <string>fb-messenger-api</string>
        <string>fbauth2</string>
        <string>fbshareextension</string>
    </array>
</dict>
</plist>