<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>587928690893-525va6qg38t6lbthoc24goi99tmf9gm2.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.587928690893-525va6qg38t6lbthoc24goi99tmf9gm2</string>
	<key>API_KEY</key>
	<string>AIzaSyAUlLl1jZETEydXdzCFofaxjc8mPGQ5tbw</string>
	<key>GCM_SENDER_ID</key>
	<string>587928690893</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.efehelvaci.BeeSportive</string>
	<key>PROJECT_ID</key>
	<string>beesportive-cbd41</string>
	<key>STORAGE_BUCKET</key>
	<string>beesportive-cbd41.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:587928690893:ios:df3b8fe191904d7d</string>
	<key>DATABASE_URL</key>
	<string>https://beesportive-cbd41.firebaseio.com</string>
</dict>
</plist>